{% extends "feedback_dashboard/index.html" %}
{% block content %}
     {%load plotly_dash%}
    <div>
    {%plotly_app name="ParetoGrid" ratio=1.1%}
    </div>
	<div>
    {%plotly_app name="3D-App" ratio=0.5%}
    </div>
     <div>
    {%plotly_app name="PR_App" ratio=1%}
     </div>
 	<div>
    {%plotly_app name="RR_App" ratio=1.3%}
     </div>
	<div>
    {%plotly_app name="Time_App" ratio=1.2%}
     </div>
	<div class="button-container">
		<form method="post" action="{% url 'download_configuration' %}">
			{% csrf_token %}
			<button class="home-button" type="submit">Download Configuration</button><span class="error-info">{{error_msg}}</span>
		</form>
	</div>
{% endblock%}