{% extends "feedback_dashboard/index.html" %}
{% block content %}
<h2 class="heading">Upload Data for Visualizations</h2>
<div class="main-content">
	<div class="form-div">
<p>Upload the generated csv file to create visualizations</p>
<form method="post" enctype="multipart/form-data" action="{% url 'dashboard' %}">
	{% csrf_token %}
	 <div class="form-group">
            <label>Select File Type:</label>
			<input type="radio" id="data_radio" name="file_type" value="data" checked>
			<label for="data_radio">Input Data File</label>
			<input type="radio" id="config_radio" name="file_type" value="configuration">
			<label for="config_radio">Configuration File</label>
        </div>
        <br>
	<div class="form-group">
		<input type="file" name="dashboard_input_file" id="dashboardFileInput">
		<button type="submit" class="home-button" id="dashboardUploadButton" disabled>Upload</button><span class="error-info">{{error_msg}}</span>
		<p class="file-format-info">Supported file formats: CSV (.csv)</p>
	</div>
</form>
		</div>
	<div class="uploaded-data">
{% if dashboard_files %}
		<p>Uploaded File Details:</p>
		{% for file_type, file_name in dashboard_files.items %}
		<p>{{file_type}}: <span style="color: #5454d3;">{{file_name}}</span></p>
		{% endfor %}
		</div>
</div>
	<div class="button-container">
		<form method="post" action="{% url 'reset_dashboard' %}">
			{% csrf_token %}
			<button class="home-button" type="submit">Reset Data</button>
		</form>
		<form method="post" action="{% url 'show_graphs' %}">
			{% csrf_token %}
			<button class="home-button" id="graphs_button" type="submit" {% if not both_files_uploaded %}disabled{% endif %} >
				Generate Visualizations </button>
		</form>
	</div>
{% endif %}
{% endblock%}