    {% extends "feedback_dashboard/index.html" %}
	{% block content %}
	<h2 class="heading">Generate Data for Visualization</h2>
	<div class="main-content">
		<div class="form-div">
			<p>Upload both the annotation file and the configuration file</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Select File Type:</label>
			<input type="radio" id="annotations_radio" name="file_type" value="annotations" checked>
			<label for="annotations_radio">Annotation File</label>
			<input type="radio" id="configuration_radio" name="file_type" value="configuration">
			<label for="configuration_radio">Configuration File</label>
        </div>
        <br>
        <div class="form-group">
            <input type="file" name="input_file" id="fileInput">
            <button type="submit" class="home-button" id="uploadButton" disabled>Upload</button>
			<p class="error-info">{{error_msg}}</p>
			<p class="file-format-info">Supported file formats: CSV (.csv)</p>
        </div>
    </form>
			</div>
		<div class="uploaded-data">
	{% if uploaded_files %}
		<p class="uploaded-files"><strong>Uploaded File Details:</strong></p>
		{% for file_type, file_name in uploaded_files.items %}

		<p>{{file_type}}:<span style="color: #5454d3;">{{file_name}}</span></p>
		{% endfor %}
		</div>
	</div>
		<div class="image-scroll-container">
			<div class="image-list">
				{% for image_url in image_urls %}
					<img src="{{ image_url }}" alt="Image">
				{% endfor %}
			</div>
		</div>
	<div class="button-container">
		<form method="post" action="{% url 'reset' %}">
			{% csrf_token %}
			<button class="home-button" type="submit">Reset Data</button>
		</form>
<!--		<form method="post" action="{% url 'reset' %}">-->
<!--		{% csrf_token %}-->
		<button class="home-button" id="generate_button" type="submit" {% if not both_files_uploaded %}disabled{% endif %} >
			Generate Dashboard CSV File </button>
		<span id="load" class="loading-text">Loading...</span> <!-- Loading text -->
		<span id="download" class="download-icon fa fa-download"></span> <!-- Download icon -->
<!--		</form>-->
	</div>
	{% endif %}
	{% endblock%}